@font-face {
  font-family: 'Bona Nova SC';
  font-weight: 400;
  font-style: normal;
  src: url('./assets/Bona_Nova_SC/BonaNovaSC-Regular.ttf') format('truetype');
}

:root {
  --headerText: white;
  --mainColor: blue;
}

* {
  padding: 0rem;
  margin: 0rem;
}

html {
  font-size: 62.5%;
}

header {
  background-color: var(--mainColor);
  display: flex;
  justify-content: center;
}

header div h1 {
  font-family: 'Bona Nova SC', sans-serif;
  letter-spacing: 0.5rem;
  color: var(--headerText);
  font-size: 6.5rem;
  padding: 1rem;
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 0rem;
}

td,
th {
  width: 4rem;
  height: 4rem;
  border: 0.5px solid var(--mainColor);
}
th {
  font-family: 'Bona Nova SC', sans-serif;
  font-size: 1.5rem;
  border-color: white;
}

main div {
  font-family: 'Bona Nova SC', sans-serif;
  display: grid;
  justify-items: center;
}

main div p {
  font-size: 2rem;
}

.main {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(452px, 1fr));
}
